

/* Subtitle */

/* Name */

/* Pronouns */
.intro-pronouns {
  font-style: italic;
  font-family: Caveat, cursive;
  font-size: 44px !important;
  font-weight: 500;
}

/* Glowing Circle */
/* .image-wrapper {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
    circle,
    rgba(247, 157, 0, 0.6) 0%,
    transparent 70%
  );
  box-shadow: 0 0 30px rgba(247, 157, 0, 0.7);
}

.intro-img {
  width: 380px;
  height: 380px;
  border-radius: 50%;
  object-fit: cover;
} */



.intro-pronouns .brackets {
  color: #f79d00; /* golden color only for < and /> */
  font-weight: bold;
}

input.form-control {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
}

h2.mb-4 {
  font-family: "Cormorant SC", serif !important;
  font-size: 46px !important;
  font-weight: 900 !important;
}
