/* mobile view */
@media (max-width: 991px) {
    .navbar-nav {
        text-align: center;
        margin-top: 10px;
    }

    div#email_coloum {
        margin-top: 20px;
    }

    div#form {
        display: flex;
        flex-direction: column;
    }


    div#email_coloum {
        margin-top: 20px;
    }

    .intro-text {
        text-align: center;
    }


    .intro-subtitle {
        margin-bottom: 10px;
        font-family: Cormorant SC, serif;
        font-size: 30px;
        font-weight: 700;
    }

    .intro-subtitle::first-letter {
        font-size: 35px;
        font-weight: 600;
    }

    h1.intro-subtitle {
        font-family: "Georgia", serif;
        font-size: 21px;
        font-weight: 500;
    }


    #resume {
        display: none;
    }

    .navbar-brand {
        font-family: "Dancing Script", cursive;
        font-size: 27px;
    }

    ul.navbar-nav.mx-auto {
        margin-top: 20px;
        background: white;
        position: fixed;
        top: 45px;
        width: 100%;
        z-index: 10;
        padding-top: 23px;
        padding-bottom: 20px;
    }

    #image {
        display: none !important;
    }

    .intro-name {
        font-family: "Georgia", serif;
        font-size: 33px;
        font-weight: normal;
        color: #111;
    }

    .image-wrapper {
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: radial-gradient(circle, rgba(247, 157, 0, 0.6) 0%, transparent 70%);
        box-shadow: 0 0 30px #e9a622;
        transition: .8s ease;
        width: 310px;
        height: 310px;
        margin-left: 38px;
    }

    .intro-img {
        width: 324px;
        height: 311px;
        border-radius: 50%;
        object-fit: cover;
    }

    .intro-name::first-letter {
        font-family: Georgia, serif;
        font-size: 49px;
        font-weight: bold;
        color: #f79d00;
    }


    section.intro-section.d-flex.align-items-center.justify-content-between {
        flex-direction: column;
    }

    div#responsive_image {
        margin-top: 23px;
    }

    button.btn.w-25 {
        width: 38% !important;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: bold;
    }

    p.experince-headiline {
        font-size: 33px;
        font-weight: 700;
        font-family: 'Cormorant SC';
    }

    .experience-item {
        display: flex;
        justify-content: space-between;
        border-top: 2px solid #00000057;
        padding: 17px 0px;
    }

    div#experince {
        margin-top: 80px !important;
    }

    #education h2 {
        color: #111;
        font-size: 36px;
        font-family: 'Cormorant SC';
        font-weight: bolder;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 40px;
    }
}

/* mobile view - 300px se 400px ke liye */
@media (min-width: 300px) and (max-width: 400px) {
    .navbar-nav {
        text-align: center;
        margin-top: 10px;
    }

    div#responsive_image {
        display: flex;
        justify-content: center;
    }

    div#email_coloum {
        margin-top: 20px;
    }

    div#form {
        display: flex;
        flex-direction: column;
    }

    .intro-text {
        text-align: center;
    }

    .intro-subtitle {
        margin-bottom: 10px;
        font-family: Cormorant SC, serif;
        font-size: 20px;
        font-weight: 700;
    }

    .intro-subtitle::first-letter {
        font-size: 25px;
        font-weight: 600;
    }

    h1.intro-subtitle {
        font-family: "Georgia", serif;
        font-size: 22px;
        font-weight: 500;
        margin-top: 20px;
    }

    #resume {
        display: none;
    }

    .navbar-brand {
        font-family: "Dancing Script", cursive;
        font-size: 22px;
    }

    ul.navbar-nav.mx-auto {
        margin-top: 20px;
        background: white;
        position: fixed;
        top: 45px;
        width: 100%;
        z-index: 10;
        padding-top: 23px;
        padding-bottom: 20px;
    }

    #image {
        display: none !important;
    }

    .intro-name {
        font-family: "Georgia", serif;
        font-size: 34px;
        font-weight: normal;
        color: #111;
    }

    .image-wrapper {
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: radial-gradient(circle, rgba(247, 157, 0, 0.6) 0%, transparent 70%);
        box-shadow: 0 0 20px #e9a622;
        transition: .8s ease;
        width: 220px;
        height: 220px;
        margin-left: 28px;
    }

    .intro-img {
        width: 224px;
        height: 221px;
        border-radius: 50%;
        object-fit: cover;
    }

    .intro-name::first-letter {
        font-family: Georgia, serif;
        font-size: 45px;
        font-weight: bold;
        color: #f79d00;
    }

    section.intro-section.d-flex.align-items-center.justify-content-between {
        flex-direction: column;
    }



    button.btn.w-25 {
        width: 45% !important;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: bold;
    }

    /* skillls and experince */
    .skills.d-flex.flex-wrap {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }

    .skills.d-flex.flex-wrap>img {
        height: 72px;
    }

    h1#skillsexp {
        font-size: 53px;
        font-family: 'Cormorant SC';
    }

    div#skillsexperinceSection {
        background-color: #fef7e9;
        margin-top: 53px;
    }

    #skillsexperinceSection h4 {
        font-size: 30px;
        font-family: 'Cormorant SC';
        padding: 20px 0px;
        font-weight: 600;
    }
}

/* desktop view */
@media (min-width: 991px) {
    #resume2 {
        display: none;
    }

    #education {
        background-color: #f8f9fa;
        padding: 80px 0;
    }

    .intro-image.text-center {
        display: none;
    }


    .intro-subtitle {
        margin-bottom: 10px;
        font-family: Cormorant SC, serif;
        font-size: 30px;
        font-weight: 900;
    }

    .intro-subtitle::first-letter {
        font-size: 45px;
        font-weight: 700;
    }

    #responsive_image {
        display: none;
    }

    .image-wrapper {
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: radial-gradient(circle, rgba(247, 157, 0, .6) 0%, transparent 70%);
        box-shadow: 0 0 30px #f79d00b3;
    }

    .intro-img {
        width: 380px;
        height: 380px;
        border-radius: 50%;
        object-fit: cover;
    }


    .intro-name::first-letter {
        font-size: 4rem;
        font-weight: bold;
        color: #f79d00;
    }

    .intro-name {
        font-family: "Georgia", serif;
        font-size: 3rem;
        font-weight: normal;
        color: #111;
    }

    .intro-section {
        max-width: 75%;
        margin: 50px auto;
        gap: 40px;
        margin-top: 90px;
        height: 62vh;
    }



    /* skills and expersnce section  */
    h1#skillsexp {
        font-family: "Georgia", serif;
        font-size: 50px;
        font-weight: normal;
    }

    h1#skillsexp::first-letter {
        font-size: 61px;
    }

    .section-title {
        font-weight: bold;
        margin-bottom: 20px;
    }

    .skills img {
        width: 50px;
        margin: 15px;
        transition: transform 0.3s;
    }

    .skills img:hover {
        transform: scale(1.2);
    }

    .experience-item {
        border-top: 2px solid #000;
        padding: 15px 0;
    }

    .experience-item:last-child {
        border-bottom: 2px solid #000;
    }

    .btn-custom {
        background-color: #e6a400;
        border: none;
        font-weight: bold;
        padding: 10px 20px;
    }

    .btn-custom:hover {
        background-color: #cc8c00;
    }

    #skillsexperinceSection {
        background-color: rgb(255, 248, 238);
    }

    .experience-item {
        display: flex;
        justify-content: space-between;
    }

    #second-box {
        width: 165px;
    }

    p.experince-headiline {
        font-size: 33px;
        font-family: "Georgia", serif;
        font-weight: normal;
    }

    p.experince-headiline .brackets {
        color: #f79d00;
        font-weight: bold;
    }

    /* our work section  */
    .card-hover {
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .card-hover:hover {
        transform: translateY(-10px) scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    #pargraph_work {
        height: 146px !important;
    }

}


/* navbar css */
nav.navbar.navbar-expand-lg.navbar-light.bg-white.shadow-sm {
    position: sticky;
    top: 0;
    background-color: hsl(0deg 0% 97% / 96%) !important;
    z-index: 1;
}




#education h2 {
    color: #111;
    font-family: "Georgia", serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.edu-card {
    transition: all 0.3s ease;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.edu-card:hover {
    transform: translateY(-7px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.edu-card h5 {
    font-weight: 600;
    color: #212529;
}

.edu-card p {
    color: #6c757d;
    margin-bottom: 5px;
}

.edu-icon {
    font-size: 40px;
    color: #0d6efd;
    margin-bottom: 15px;
}

.skills_h4 .brackets {
    color: #f79d00;
    font-weight: bolder;
    font-size: 30px;
}


.experince-headiline .brackets {
    color: #f79d00;
    font-weight: bolder;
    font-size: 30px;
}

#expernce_button {
    background-color: #f4a825 !important;
    border: none;
    color: #212529;
    font-size: 13px;
}